* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: small;
    font-family: outfit;
    transform: translate(-50%, -50%);
    background-color: hsl(217, 54%, 11%);
}

.main {
    background-color: hsl(216, 50%, 16%);
    width: 35vh;
    height: 58vh;
    border-radius: 5px;
}

.img1 {
    width: 30vh;
    height: 30vh;
    border-radius: 5px;
    margin-left: 19px;
    margin-top: 20px;
}

.our {
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
}

.equal {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.middle {
    display: flex;
    justify-content: space-around;

} 

hr {
    margin: 10px 10px;
    background-color:  hsl(215, 32%, 27%);
}

.day {
    color: hsl(215, 51%, 70%);
}

.eth {
    color: hsl(178, 100%, 50%);
}

.img2 {
    height: 3vh;
    border: solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.bottom {
    display: flex;
    margin: 15px 10px;
}

.last {
    color: white;
    margin-left: 7px;
}

.one {
    color: hsl(215, 51%, 70%);
}

@media only screen and (max-width: 40em){
    body {
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}